#signin-rectangle{
  width: 300px;
  height: 400px;
  background-color: #8ABD3C;
  border-style: solid;
  border-width: 10px;
  border-color: #017230;
  border-radius: 50px;
  color: #017230;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
#signup-rectangle{
  width: 380px;
  height: 500px;
  background-color: #8ABD3C;
  border-style: solid;
  border-width: 10px;
  border-color: #017230;
  border-radius: 50px;
  color: #017230;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.button{
  width: 80px;
  height: 30px;
  padding: 5px;
  background-color: #85D507;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  text-align: center;
  color: black;
  margin-left: auto;
  margin-right: 0;
  float: right;
  cursor: pointer;
}
.button:hover{
  background-color: #66a405;
}
.title{
  width: 100%;
  text-align: center;
  font-size: 32pt;
  font-family: Impact, sans-serif;
  border-bottom: 2px solid #017230;
  line-height: 0.05em;
  margin: 35px 0 20px;
  margin-bottom: 80px;
}
.title span{
  background:#8ABD3C;
  padding:0 20px;
}
.form-group input{
  margin-right: 0;
}
.empty-space{
  margin-bottom: 50px;
}
.text-field{
  width: 100%;
  height: 20px;
}
.small-text-field{
  width: 98%;
  height: 20px;
}
.block-container .button, .block-container .no-account{
  display: inline;
}
.checkbox-box, .checkbox-text{
  display: inline;
}
.checkbox-text{
  padding: 10px;
  font-size:12pt;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form{
  width: 100%;
}
.label{
  font-size:12pt;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.check{
  text-align: center;
  color: red;
}

#navbar{
  margin: 0 auto;
  position: fixed;
  }
  .list-item {
    display: inline-flex;
    width: 300px;
    height: 70px;
    background: white;
    text-align: center;
    text-decoration-color: black;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    border: 0;
    border-style: solid;
    border-width: thin;
  }
  .list-item a {
    width: auto;
    height: auto;
    margin: auto;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
  }
  .list-item a:hover {
    background-color: grey;
  }
  .active {
    background: #4CAF50;
    display: inline-flex;
    width: 300px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    border: 0;
    border-style: solid;
    border-width: thin;
    border-color: #4CAF50;
  }
  .active a {
    width: auto;
    height: auto;
    margin: auto;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
  }
  .floating-box-left {
    float: left;
    width: 300px;
    height: 100px;
    margin: 10px;
    left: 30%;
    position: fixed;
    text-align: left;
    margin-left: -150px;
  }
  .floating-box-right {
    float: right;
    width: 300px;
    height: 100px;
    margin: 10px;
    right: 30%;
    position: fixed;
    text-align: right;
    margin-right: -150px;
    padding-top: 30px;
  }
  .after-box {
    clear: left;
    margin: auto;
  }
  .centered {
  position: fixed;
  left: 30%;
  margin-top: 100px;
  margin-left: -200px;
  }
  .br {
   display: flex;
   margin: 0 0;
  }

  #profile-header {
    position: fixed;
    margin-top: 170px;
  }
  .floating-box-left-p {
    float: left;
    width: 500px;
    height: 100px;
    margin: 10px;
    left: 30%;
    position: fixed;
    text-align: left;
    margin-left: -150px;
    position: fixed;
    left: 30%;
    margin-left: -150px;
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
  }
  .floating-box-right-p {
    float: right;
    width: 300px;
    height: 100px;
    margin: 10px;
    right: 30%;
    position: fixed;
    text-align: right;
    margin-right: -150px;
    padding-top: 30px;
    position: fixed;
    right: 30%;
    margin-right: -150px;
  }

  #profile-content {
    position: fixed;
    margin-top: 25%;
    margin-left: 40%;
  }
  .picture {
    border-radius: 50%;
    border-width: 7px;
    width: 250px;
    height: 250px;
    border-style: solid;
    margin-bottom: 70px;
  }
  .username {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .driver {

  }
  .data {

  }
  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #117D11;
}

input:focus + .slider {
  box-shadow: 0 0 1px #117D11;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.content-right {
  float: right;
}
.back-button{
  width: 80px;
  height: 30px;
  padding: 5px;
  background-color: #D50027;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  text-align: center;
  color: black;
  margin-left: 0;
  margin-right: auto;
  float: left;
  cursor: pointer;
}
.back-button:hover{
  background-color: #a2001e;
}
.save-button{
  width: 80px;
  height: 30px;
  padding: 5px;
  background-color: #82D800;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  text-align: center;
  color: black;
  margin-left: auto;
  margin-right: 0;
  float: right;
  cursor: pointer;
}
.save-button:hover{
  background-color: #63a500;
}
.square-image{
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 1px;
}
.bottom-table{
  vertical-align: bottom;
}
.upper-table{
  vertical-align: baseline;
}
#edit-profile-content {
  position: fixed;
  margin-top: 7%;
  left: 30%;
  position: fixed;
  text-align: left;
  margin-left: -150px;
}
.horizontal-space{
  padding-left: 30px;
}
.vertical-space{
  padding-bottom: 20px;
}